#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config ENABLE_NGHTTP2
	bool "Enable NGHTTP2"
	default n
	depends on MBED_TLS_LIB
	---help---
		nghttp2 is an implementation of HTTP/2 and its header compression algorithm HPACK.
